{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}
{% block stylesheets %}
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #main-info {
            background: #d1ddd1;
            height: inherit;
            -moz-box-shadow: inset -6px 0 16px rgba(68,68,68,0.1);
            -webkit-box-shadow: inset -6px 0 16px rgba(68,68,68,0.1);
            box-shadow: inset -6px 0 16px rgba(68,68,68,0.1);
        }

        #skill-box {
            background: #fff;
        }

        .wrapper {
            margin: 70px auto;
        }

        .wrapper:last-child {
            margin-bottom: 20px;
        }

        .deep-wrapper {
            margin: 20px auto;
        }

        .column {
            padding: 10px 30px;
        }

        .photo {
            width: 100%; 
            display:block; 
            height: auto;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        h2, p, a {
            color: #333;
            font-family: Arial;
            line-height: 32px;
            font-family: 'Open Sans', sans-serif;
        }

        h1 {
            margin: 0;
            padding: 0;
        }

        h2 {
            text-transform: uppercase;
            margin: 0 0 10px 0;
        }

        a {
            text-decoration: none;
        }

        p {
            font-size: 15px;
            margin: 0;
        }

        ul {
            margin: 0;
            padding: 0 0 0 18px;
        }

        .text-right {
            float: right;
        }

        .firm-name {
            font-weight: bold;
            text-transform: uppercase;
        }

        .justify {
            text-align: justify;
        }

        .right {
            text-align: right;
        }

        .rate {
            display: inline-block;
            width: 12px;
            height: 12px;
            border: solid 2px #333;
            margin: 0 2px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .rate.fill {
            background: #333;
        }

        .rodo {
            font-size: 11px;
            line-height: 16px;
            color: #555;
        }

        @media print {
            #skill-box {
                height: 1460px;
            }
            .container {
                max-width: 100%;
            }
            .sf-toolbar {
                display: none;
            }
        }

        @media screen {
            body {
                margin-top: 30px;
                margin-bottom: 30px;
                background: #f1f1f1;
            }

            #get-pdf {
                display: block;
            }
            #main-info {
                -moz-box-shadow: inset -6px 0 16px rgba(68,68,68,0.1);
                -webkit-box-shadow: inset -6px 0 16px rgba(68,68,68,0.1);
                box-shadow: inset -6px 0 16px rgba(68,68,68,0.1);
            }
        }
    </style>
{% endblock %}

{% block body %}
    {% if not pdf %}
        <div class="container" >
            <div class="row">
                <div class="col-12">
                    <a href="{{ path('pdf') }}">Pobierz PDF</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="{% if pdf %}col-4{% else %}col-lg-4{% endif %}" id="main-info">
                {% include 'cv/main-info.html.twig' %}
            </div>
            <div class="{% if pdf %}col-8{% else %}col-lg-8{% endif %}" id="skill-box">
                {% include 'cv/skill-box.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
